---
import { getCollection, z } from "astro:content";
import type { CompletedBook, DnfBook, ReadingBook } from "src/content.config";

import { BookAccordion } from "@/components/lists/BookAccordion";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";

const books = await getCollection("books");

function isReadingBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof ReadingBook> {
  return book.status === "reading";
}

function isFinishedBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof CompletedBook> {
  return book.status === "completed";
}

function isUnfinishedBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof DnfBook> {
  return book.status === "dnf";
}

const readingBooks = books.map((book) => book.data).filter(isReadingBook);

const finishedBooks = books.map((book) => book.data).filter(isFinishedBook);

const unfinishedBooks = books.map((book) => book.data).filter(isUnfinishedBook);
---

<div class="flex-col-standard gap-8">
  <h3>Year in Review</h3>

  <div class="flex-col-standard gap-8">
    <h3>Books</h3>

    <div class="flex-col-standard gap-2">
      <h4>{`Reading Now (${readingBooks.length})`}</h4>

      <Card className="w-full">
        <CardContent className="-mt-4 -mb-5">
          <BookAccordion
            client:load
            books={readingBooks}
          />
        </CardContent>
      </Card>
    </div>

    <div class="flex-col-standard gap-2">
      <h5>{`Completed (${finishedBooks.length})`}</h5>

      <Card className="w-full">
        <CardContent className="-mt-4 -mb-5">
          <BookAccordion
            client:load
            books={finishedBooks}
          />
        </CardContent>
      </Card>
    </div>

    <div class="flex-col-standard gap-2">
      <h5>{`Did Not Finish (${unfinishedBooks.length})`}</h5>

      <Card className="w-full">
        <CardContent className="-mt-4 -mb-5">
          <BookAccordion
            client:load
            books={unfinishedBooks}
          />
        </CardContent>
      </Card>
    </div>
  </div>
</div>
