---
import { getCollection, z } from "astro:content";
import type { CompletedBook, DnfBook, ReadingBook } from "src/content.config";

const books = await getCollection("books");

function isReadingBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof ReadingBook> {
  return book.status === "reading";
}

function isFinishedBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof CompletedBook> {
  return book.status === "completed";
}

function isUnfinishedBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof DnfBook> {
  return book.status === "dnf";
}

const readingBooks = books.map((book) => book.data).filter(isReadingBook);

const finishedBooks = books.map((book) => book.data).filter(isFinishedBook);

const unfinishedBooks = books.map((book) => book.data).filter(isUnfinishedBook);
---

<div>
  <h2 class="mb-8 text-xl font-semibold">Year in Review</h2>

  <div>
    <h2 class="mb-4 text-lg font-semibold">Books</h2>

    <div class="flex flex-col gap-8">
      <div>
        <h3 class="mb-2 font-semibold text-gray-500">Reading Now</h3>
        <div class="flex flex-col items-start justify-start gap-6">
          {
            readingBooks.map((book) => (
              <div class="flex w-full flex-col items-start justify-between">
                <p>{book.title}</p>
                <p class="text-sm text-gray-500">Author: {book.author}</p>
                <p class="text-sm text-gray-500">Started: {book.started}</p>
              </div>
            ))
          }
        </div>
      </div>

      <div>
        <h3 class="mb-2 font-semibold text-gray-500">Completed</h3>
        <div class="flex flex-col items-start justify-start gap-6">
          {
            finishedBooks.map((book) => (
              <div class="flex w-full flex-col items-start justify-between">
                <p>{book.title}</p>
                <p class="text-sm text-gray-500">Author: {book.author}</p>
                <p class="text-sm text-gray-500">Started: {book.started}</p>
                <p class="text-sm text-gray-500">Completed: {book.completed}</p>
                <p class="text-sm text-gray-500">Rating: {book.rating}</p>
              </div>
            ))
          }
        </div>
      </div>

      <div>
        <h3 class="mb-2 font-semibold text-gray-500">Did Not Finish</h3>
        <div class="flex flex-col items-start justify-start gap-6">
          {
            unfinishedBooks.map((book) => (
              <div class="flex w-full flex-col items-start justify-between">
                <p>{book.title}</p>
                <p class="text-sm text-gray-500">Author: {book.author}</p>
                <p class="text-sm text-gray-500">Completed: {book.percent}%</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
