---
import { getCollection, z } from "astro:content";
import type { CompletedBook, DnfBook, ReadingBook } from "src/content.config";

const books = await getCollection("books");

function isReadingBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof ReadingBook> {
  return book.status === "reading";
}

function isFinishedBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof CompletedBook> {
  return book.status === "completed";
}

function isUnfinishedBook(
  book: (typeof books)[number]["data"],
): book is z.infer<typeof DnfBook> {
  return book.status === "dnf";
}

const readingBooks = books.map((book) => book.data).filter(isReadingBook);

const finishedBooks = books.map((book) => book.data).filter(isFinishedBook);

const unfinishedBooks = books.map((book) => book.data).filter(isUnfinishedBook);
---

<div class="flex-col-standard">
  <h3>Year in Review</h3>

  <div class="flex-col-standard">
    <h4>Books</h4>

    <div class="flex-col-standard">
      <div class="flex-col-standard">
        <h5>Reading Now</h5>

        <div class="flex-col-standard">
          {
            readingBooks.map((book) => (
							<p>{book.title}</p>
							<p class="text-sm text-gray-500">Author: {book.author}</p>
							<p class="text-sm text-gray-500">Started: {book.started}</p>
            ))
          }
        </div>
      </div>

      <div class="flex-col-standard">
        <h5>Completed</h5>

        <div class="flex-col-standard">
          {
            finishedBooks.map((book) => (
							<p>{book.title}</p>
							<p class="text-sm text-gray-500">Author: {book.author}</p>
							<p class="text-sm text-gray-500">Started: {book.started}</p>
							<p class="text-sm text-gray-500">Completed: {book.completed}</p>
							<p class="text-sm text-gray-500">Rating: {book.rating}</p>
            ))
          }
        </div>
      </div>

      <div class="flex-col-standard">
        <h5>Did Not Finish</h5>

        <div class="flex-col-standard">
          {
            unfinishedBooks.map((book) => (
							<p>{book.title}</p>
							<p class="text-sm text-gray-500">Author: {book.author}</p>
							<p class="text-sm text-gray-500">Completed: {book.percent}%</p>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
