---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("writing");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<h1>{post.data.title}</h1>

<p>Description: {post.data.description}</p>

<p>Date: {post.data.pubDate}</p>

<p>Tags: {post.data.tags.map((tag) => <li>{tag}</li>)}</p>

<p>Form: {post.data.form}</p>

<Content />
