---
import { type CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"work">;
}

const { item } = Astro.props;
---

<div class="w-full">
  <h3>{item.data.company}</h3>
  <p>{item.data.years}</p>

  <a
    class="block"
    href={item.data.url}
  >
    {item.data.url}
  </a>

  {
    item.data.roles.other.map((role) => (
      <div class="flex-row-standard">
        <p>{role.title}</p>
        <p>{role.years} </p>
      </div>
    ))
  }

  {
    item.data.items.map((item) => (
      <div class="flex-col-standard">
        <li>{item.content}</li>
        {item.link && <a href={item.link.url}>{item.link.title}</a>}
      </div>
    ))
  }
</div>
