---
import { type CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"work">;
}

const { item } = Astro.props;
---

<div class="collapse-arrow border-base-300 collapse border bg-gray-100">
  <input type="checkbox" />

  <div class="collapse-title flex flex-col items-start justify-start">
    <p class="text-base font-bold">{item.data.company}</p>
    <p class="text-xs font-bold">{item.data.years}</p>
  </div>

  <div class="collapse-content text-sm">
    <a class="text-sm font-medium text-gray-500" href={item.data.url}>
      {item.data.url}
    </a>

    {
      item.data.roles.other.map((role) => (
        <div class="flex flex-row items-center justify-between gap-4 font-semibold">
          <p>{role.title}</p>
          <p>{role.years} </p>
        </div>
      ))
    }

    {
      item.data.items.map((item) => (
        <div class="flex flex-col items-start justify-start text-sm font-medium">
          <li>{item.content}</li>
          {item.link && <a href={item.link.url}>{item.link.title}</a>}
        </div>
      ))
    }
  </div>
</div>
