---
import { type CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"work">;
}

const { item } = Astro.props;
---

<div class="flex h-auto w-full flex-col flex-wrap items-start justify-start gap-2">
  <p class="text-lg font-bold">{item.data.years}</p>
  <a class="text-lg font-bold" href={item.data.url}>{item.data.company}</a>

  <div class="flex flex-row items-center justify-between gap-4">
    <p class="text-base font-semibold">{item.data.roles.main.title}</p>
    <p class="text-base font-semibold">{item.data.roles.main.years}</p>
  </div>

  {
    item.data.roles.other.map((role) => (
      <div class="flex flex-row items-center justify-between gap-4">
        <p class="text-base font-semibold">{role.title}</p>
        <p class="text-base font-semibold">{role.years} </p>
      </div>
    ))
  }

  {
    item.data.items.map((item) => (
      <div class="flex flex-col items-start justify-start text-base font-medium">
        <li>{item.content}</li>
        {item.link && <a href={item.link.url}>{item.link.title}</a>}
      </div>
    ))
  }
</div>
